.sliderContainer {
  position: relative;
  margin-top: 40px;
}

.progressBarContainer {
  position: relative;
  bottom: 20px;
  width: calc(100% - 20px);
  margin: auto;
}


.progressBarContainer div {
  display: block;
  width: 16%;
  padding: 0;
  cursor: pointer;
  margin-right: 1px;
  float: left;
  color: white;
}

@media (min-width: 550px){
  .progressBarContainer div {
    margin-right: 1px;
  }
}

@media (min-width: 750px) {
  .progressBarContainer div {
    margin-right: 3px;
  }
}

.progressBarContainer div:last-child {
  margin-right: 0;
}

.progressBarContainer div span.progressBar {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
}

.progressBarContainer div span.progressBar .inProgress {
  background-color: rgba(0, 0, 0, 1);
  width: 0%;
  height: 4px;
}

.inProgress.on{
  width:100% !important;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  height: 100%;
  justify-content: center;
}

.closeCopy {
  margin-left: 10px;
}

.close {
  font-size: 26px;
  display: inline-block;
  margin: 0 0 0 10px;
  text-align: center;
  font-weight: lighter;
  font-family: serif;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalSlides img {
  width: 80%;
  margin: auto;
  display: block;
}

.inputWrap {
  width: 100px;
  height: 800px;
  position: relative;
}

.closeWrap {
  display: flex;
  align-items: center;
}

input[type=range][orient=vertical]
{
  transform: rotate(90deg);
  position: absolute;
  top: 200px;
  left: -150px;
}

/*style range slider*/
input[type=range] {
  height: 16px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 400px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 9px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #000000;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #000000;
  border-radius: 3px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 9px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #000000;
  border: 0px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 9px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #000000;
}
input[type=range]:focus::-ms-fill-upper {
  background: #000000;
}
